@import 'ui-variables';

.save-dialog {

  img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    max-height: calc(~"100vh - 200px");
    border: solid 1px @overlay-border-color;
    border-radius: @component-border-radius;
  }

  .warning {
    color: @text-color-error;
    font-size: @font-size;
    font-family: @font-family;
    font-weight: bold;
    margin: 10px 0px;

    .keystroke {
      border: solid 1px;
      padding: .2em .4em;
      border-radius: 4px;
    }

  }
}
